body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container{
    height: 500px;
    width: 100%;
    background-image: url(ani1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url(pic/ani2.jpg);
    }
    20%{
        background-image: url(pic/ani3.jpg);
    }
    40%{
        background-image: url(pic/ani4.jpeg) ;
    }
    60%{
        background-image: url(pic/ani5.jpeg);
    }
    80%{
        background-image: url(pic/ani6.jpeg);
    }
    100%{
        background-image: url(pic/ani7.jpeg);
    }
}
