form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    margin-top: 50px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px gray;
    width: 300px;
  }
  
  input[type="submit"] {
    background-color: #0072C6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #005599;
  }
  